<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="Microsoft.BizTalk.Adapter.Behaviors.FINT" type="Microsoft.BizTalk.Adapter.Behaviors.FintRestBehaviorElement, Microsoft.BizTalk.Adapter.Behaviors, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cfdf94e0d706b7df"/>
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>